*.db
*.pyc
*.swp
*.swk
*.out
pip-log.txt
local_settings.py
screenlog*
data/
tmp/
src/
*~
._*
.settings/org.eclipse.core.resources.prefs
dcdata/entities/apidata/
dcdata/test_data/denormalized/denorm_indivs.08.csv
dcdata/test_data/denormalized/denorm_indivs.08.txt
dcdata/test_data/denormalized/denorm_pac2cand.csv
dcdata/test_data/denormalized/denorm_pac2cand.txt
dcdata/test_data/denormalized/denorm_pac2pac.csv
dcdata/test_data/denormalized/denorm_pac2pac.txt
dcdata/test_data/denormalized/nimsp_allocated_contributions.csv
dcdata/test_data/denormalized/nimsp_unallocated_contributions.csv.TMP
dcdata/test_data/denormalized/nimsp_unallocated_contributions_salted.csv
dcdata/test_data/denormalized/nimsp_unallocated_contributions_unsalted.csv
dc_web/build
.project
.pydevproject
PYSMELLTAGS
.DS_Store
nationwide_candidates.pkl
.coverage
postgresql.conf.*
pgexperts.conf.*
sysctl.conf.*
