django==1.3
django-debug-toolbar
django-piston==0.2.2.1
-e git://github.com/sunlightlabs/django-locksmith.git#egg=locksmith
xlwt
psycopg2
python-memcached
boto
-e git+http://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
nose
django-nose
lxml
django-indexer
django-paging
django-sentry
BeautifulSoup
scrapelib
httplib2
csvkit