django
django-debug-toolbar
django-piston==0.2.2.1
-e git://github.com/sunlightlabs/django-locksmith.git@07cfe1755e0#egg=django_locksmith-dev
xlwt
psycopg2==2.4.1
python-memcached
gunicorn
boto
-e git+http://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
nose
django-nose
lxml
django-indexer
django-paging
BeautifulSoup
scrapelib
httplib2
csvkit
pylibmc
name-cleaver>=0.4.1
-e git://github.com/sunlightlabs/ffs.git#egg=ffs
