django==1.2.3
django-debug-toolbar
django-piston
-e git://github.com/sunlightlabs/django-locksmith.git#egg=locksmith
xlwt
psycopg2
python-memcached
boto
-e git+http://github.com/sunlightlabs/django-mediasync.git#egg=mediasync
nose
django-nose
lxml

