{% if lobbying %}
	<div class="lobbying">
		<h2><span>{{ name }}</span> might be a lobbyist!</h2>
		<p>This name was found in our lobbyist database. View matching <a href="http://transparencydata.com/lobbying/#{{ lobbying_hash }}">lobbying registrations</a> for more information.</p>
	</div>
{% endif %}

<h2>Campaign Contributions</h2>
<p>Contributors named <b>{{ name }}</b> from the {{ cycle }} election cycle.</p>
{% if contributors %}
	<ol class="contributors">
		{% for contrib in contributors %}
			<li class="{% cycle 'even' 'odd' %}">
				<a href="http://transparencydata.com/contributions/#{{ contrib.hash }}">
					<span class="contributor">{{ contrib.contributor_name }} from {{ contrib.contributor_state}}</span>
					{% if contrib.organization_name %}
						<span class="organization">{{ contrib.organization_name }}</span>
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ol>
{% else %}
	<p>No contributions found from this name. Try another search at <a href="http://transparencydata.com/">TransparencyData.com</a></p>
{% endif %}
<p class="terms">
	Data is matched by name. We make no claim that this person actually made the contributions or was involved in lobbying.
</p>