a { color: #00f; text-decoration: underline; }
h2 { font-size: 12px; }
h2 span { display: block; }
h3 { font-size: 10px; }
ol.contributors { list-style: none; margin: 0; padding: 0; }
ol.contributors li { font-size: 85%; padding: 5px 0; }
ol.contributors li a { color: #0068CA; text-decoration: none; }
/* ol.contributors li.odd { background-color: #DBEEF7; } */
ol.contributors li span { display: block; margin-bottom: 2px; }
ol.contributors li span.contributor { font-weight: bold; }
ol.contributors li span.organization { color: #333; }
p { font-size: 90%; }
p.terms { color: #999; font-size: 70%; }
div.lobbying {
    background-color: #DBEEF7;
    border: 1px solid #BACAD2;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}