<tr>
    <td class="entity_select">
        <input type="checkbox" name="entities" value="{{ entity.id }}" id="entities_{{ entity.id }}">
    </td>
    <td>
        <label for="entities_{{ entity.id }}">{{ entity.name }}</label>
        {% if entity.aliases %}
            <ul>
                {% for alias in entity.aliases %}
                <li><a href="{% url matchbox_google_search %}?q={{ alias.alias|urlencode }}">{{ alias.alias }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </td>
    <td>{{ entity.count }}</td>
    <td class="actions">
        <a href="{% url matchbox_google_search %}?q={{ entity.name|urlencode }}" class="google">G</a>
        <a href="{% url matchbox_entity entity.id %}" class="detail">D</a>
        <a href="{% url matchbox_entity entity.id %}" class="notes">N(0)</a>
    </td>
</tr>