<!DOCTYPE html>
{% load media %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Data Commons - Entity Manager</title>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% css "ui-lightness/jquery-ui-1.7.2.custom.css" %}
        {% css "styles/jquery.autocomplete.css" %}
        {% css "styles/matchbox.css" %}
        {% js "scripts/jquery-1.3.2.min.js" %}
        {% js "scripts/jquery-ui-1.7.2.custom.min.js" %}
        {% js "scripts/jquery.autocomplete.js" %}
        {% js "scripts/matchbox.js" %}
        {% block scripts %}{% endblock %}
    </head>
    <body id="organizations">
        <header>
            <div class="container">
                <h1><a href="{% url matchbox_dashboard %}">Data Commons</a></h1>
                {% if user.is_authenticated %}
                    <p class="welcome">Welcome, {{ user.username }} | <a href="{% url logout %}">Logout</a></p>
                {% endif %}
                <div class="clear"></div>
            </div>
            <div id="search_form_container">
                <form action="{% url matchbox_merge %}" method="get" id="search_form">
                    <p class="container">
                        {% if user.is_authenticated %}
                            <label for="search_query">New Search</label>
                            <input type="text" name="q" id="query" tabindex="1">
                            <select name="type_filter" tabindex="2">
                                <option value="organization"{% ifequal type_filter "organization" %} selected="selected"{% endifequal %}>organizations</option>
                                <option value="committee"{% ifequal type_filter "committee" %} selected="selected"{% endifequal %}>committees</option>
                                <option value="politician"{% ifequal type_filter "politician" %} selected="selected"{% endifequal %}>politicians</option>
                            </select>
                            <input type="submit" value="Go!">
                        {% endif %}
                    </p>
                </form>
            </div>
        </header>
        
        <div id="main" class="container">
            <div id="statusbar">
                <p></p>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        
        <footer>
            <div class="container">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>