<!DOCTYPE html>
{% load media %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Data Commons - Entity Manager</title>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% css "styles/matchbox.css" %}
        {% js "scripts/jquery-1.3.2.min.js" %}
        {% js "scripts/matchbox.js" %}
        {% block scripts %}{% endblock %}
    </head>
    <body id="organizations">
        <header>
            <div class="container">
                <h1><a href="{% url matchbox_dashboard %}">Data Commons</a></h1>
                <p class="welcome">Welcome, Jeremy | <a href="{% url logout %}">Logout</a></p>
                <div class="clear"></div>
            </div>
            <!--
            <nav>
                <ul class="container">
                    <li class="nav_home"><a href="#">Home</a></li>
                    <li class="nav_committees"><a href="#">Committees</a></li>
                    <li class="nav_organizations"><a href="#">Organizations</a></li>
                </ul>
            </nav>
            -->
            <div id="search_form_container">
                <form action="{% url matchbox_merge %}" method="get" id="search_form">
                    <p class="container">
                        <label for="search_query">New Search</label>
                        <input type="text" name="q" id="query">
                        <select name="type">
                            <option value="">of any type</option>
                            <option value="organization">only organizations</option>
                            <option value="committee">only committees</option>
                            <option value="politician">only politicians</option>
                        </select>
                        <input type="submit" value="Go!">
                    </p>
                </form>
            </div>
        </header>
        
        <div id="main" class="container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
        
        <footer>
            <div class="container">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    </body>
</html>