{% extends "matchbox/base.html" %}

{% block scripts %}
    <script>
        $().ready(function() {
            {% if entity_type %}Matchbox.MergeManager.typeFilter = '{{ entity_type }}';{% endif %}
            {% for q in queries %}
                Matchbox.MergeManager.loadQuery('{{ q }}');
            {% endfor %}
            {% for q in queues %}
                Matchbox.MergeManager.loadQueue({{ q }});
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{% url matchbox_merge %}" method="post" id="merge_form">
    	<input type="hidden" name="new_name" id="new_name">
    	<input type="hidden" name="new_type" id="new_type">
        <ul id="entities">
        </ul>
    </form>
{% endblock %}

{% block sidebar %}
    <h3>Search Terms</h3>
    <ul id="search_terms">
    </ul>
    <h3>Additional Entities</h3>
    <p>Have other entities you want to compare or possibly merge? Search below!</p>
    <form action="#" method="get" id="more_results_form">
        <input type="text" name="q" id="more_results_query">
        <input type="submit" value="Search">
    </form>
{% endblock %}



{% block footer %}
    <div id="footer_save">
        <p>See something you'd like to view later?</p>
        <input type="button" value="Save Search">
    </div>
    <div id="footer_merge">
    	<form>
            <input type="hidden" name="type" id="merge_type" value="{{ entity_type }}">
            <label for="merge_name">Merged Name</label>
            <input type="text" name="name" id="merge_name">
            <p>
                <button id="merge_button">Merge</button>
                <!-- <button id="merge_button_continue">Merge &amp; Continue</button> -->
            </p>
        </form>
    </div>
{% endblock %}