{% extends "matchbox/merge/base.html" %}

{% block scripts %}
    <script>
        $().ready(function() {
            {% if type_filter %}Matchbox.typeFilter = '{{ type_filter }}';{% endif %}
            {% for q in queries %}
                Matchbox.MergeManager.loadQuery('{{ q }}');
            {% endfor %}
            {% for q in queues %}
                Matchbox.MergeManager.loadQueue({{ q }});
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    {% if has_query %}
        <h2>{{ type_filter|capfirst }}s</h2>
        <p>Select: <a href="#" id="selectAll">all</a> <a href="#" id="selectNone">none</a>
        <form action="{% url matchbox_merge %}" method="post" id="merge_form">
            {% csrf_token %}
        	<input type="hidden" name="new_name" id="new_name">
        	<input type="hidden" name="new_type" id="new_type">
            <ul id="entities">
            </ul>
        </form>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if has_query %}
        <h3>Additional {{ type_filter|capfirst }}s</h3>
        <p>Have other entities you want to compare or possibly merge? Search below!</p>
        <form action="#" method="get" id="more_results_form">
            <input type="text" name="q" id="more_results_query" tabindex="3">
            <input type="submit" value="Search">
        </form>
        <h3>Search Terms</h3>
        <ul id="search_terms">
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if has_query %}
        <div id="footer_save">
            See something you'd like to view later?
            <input type="button" value="Coming soon" disabled="disabled">
        </div>
        <div id="footer_merge">
        	<form id="faux_merge_form">
                <input type="hidden" name="type_filter" id="type_filter" value="{{ type_filter }}">
                <label for="merge_name">Merged Name</label>
                <input type="text" name="name" id="merge_name" tabindex="4">
                <p>
                    <button id="merge_button">Merge</button>
                </p>
            </form>
        </div>    
    {% endif %}
{% endblock %}