article, aside, dialog, figure, footer, header, hgroup, menu, nav, section { display: block; }

.clear { clear: both; }
.container { margin: 0 auto; text-align: left; width: 970px; }

body {
    color: #191818;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 82.5%;
    margin: 0;
    padding: 0;
    text-align: center;
}
input[type=submit], input[type=button], button {
    margin: 10px 0;
}
header { background-color: #F2F1F0; margin-bottom: 1.5em; }
header #search_form_container {
    background-color: #FBF9F9;
    border-bottom: 2px solid #CBCCCB;
    border-top: 1px solid #CBCCCB;
    clear: both;
    height: 20px;
    padding: 10px 0;
}
header h1 { float: left; }
header h1 a { color: #000; text-decoration: none; }
header p.welcome { float: right; }
header form label { font-size: 0.8em; font-weight: bold; margin-right: 1em; text-transform: uppercase; }
header nav ul { list-style: none; margin: 0; padding: 0; }
header nav ul li { background-color: #E4E4E3; float: left; }
header nav ul li a {
    color: #191818;
    display: block;
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
}
header input[type=submit] { margin: 0; }

table { border-collapse: collapse; }

body#home header nav ul li.nav_home { background-color: #8A8B8A; }
body#home header nav ul li.nav_home a { color: #fff; }
body#committees header nav ul li.nav_committees { background-color: #8A8B8A; }
body#committees header nav ul li.nav_committees a { color: #fff; }
body#organizations header nav ul li.nav_organizations { background-color: #8A8B8A; }
body#organizations header nav ul li.nav_organizations a { color: #fff; }

body div#statusbar {
    background-color: #CBCCCB;
    border: 1px solid #CBCCCB;
    color: #FFFFFF;
    display: none;
    font-size: 110%;
    font-weight: bold;
    padding: 10px 10px 15px 10px;
    position: fixed;
    top: 110px;
    width: 970px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}
body div#statusbar p { margin: 0; padding: 0; }
body div#statusbar.error { background-color: #900; border: 1px solid #900; }

#main { font-size: 93%; margin-bottom: 22em; }
#content { float: left; width: 750px; margin: 0 0 200px 0; }
#sidebar { border-left: 2px solid #CBCCCB; float: left; padding: 0 0 100px 10px; width: 180px; }

#sidebar ul#search_terms { margin: 0; padding: 0 0 0 15px; }

#sidebar #notes { list-style: none; margin: 0; padding: 0; }
#sidebar #notes li { margin: 20px 0; }
#sidebar #notes li .content { background-color: #FBF9F9; border: 1px solid #CBCCCB; padding: 5px; }
#sidebar #notes li .meta { font-size: 79%; padding: 5px 0; }

#sidebar #note_form { display: none; }
#sidebar #note_form textarea { height: 200px; }

#content h2 { margin: 0 0 5px 0; }

#content #entity_name_container form { display: none; }
#content #entity_name_container form input[type=text]{
    font-family: Tahoma,Helvetica,Arial,sans-serif;
    font-size: 150%;
    font-weight: bold;
}

#content ul#entities { list-style: none; margin: 0; padding: 0; width: 740px; }
#content ul#entities li { clear: both; padding: 5px; }
#content ul#entities li:hover { background-color: #F2F1F0; }
#content ul#entities li.odd { background-color: #F2F1F0; }

#content ul#entities li p.actions { float: right; margin: 0; padding: 0; }
#content ul#entities li p.actions a.google {
    background: url(../images/google.png) top left no-repeat;
    display: block;
    text-indent: -9999em;
    height: 22px;
    width: 22px;
}
#content ul#entities li p.actions a.detail {
    background: url(../images/detail.png) top left no-repeat;
    display: block;
    text-indent: -9999em;
    height: 22px;
    width: 22px;
}
#content ul#entities li p.actions a.notes {
    background: url(../images/notes.png) top left no-repeat;
    display: block;
    height: 22px;
    width: 40px;
}

#content ul#entities li a.transactions_control { display: inline-block; }
#content ul#entities li div.details_container {
    clear: both;
    display: none;
    margin-bottom: 5px;
}
#content ul#entities li div.transactions_container {
    background-color: #FFFFFF;
    height: 100px;
    margin: 10px 0 2px 25px;
}
#content ul#entities li div.expanded { height: 400px; }
#content ul#entities li div.details_expander { text-align: center; }
#content ul#entities li div.details_expander a { color: #CBCCCB; text-decoration: none; }

/* generic transactions container */
#content div.transactions_container {
    border: 1px solid #CBCCCB;
    height: 200px;
    margin-right: 10px;
    overflow: auto;
}

#content h2 { display: inline-block; }
#content p.entity_type {
    color: #666;
    display: inline-block;
    font-size: 80%;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
}

#content div.attributes { margin: 1em 0 0 0; }
#content div.attributes h4 { display: inline; }
#content div.attributes ul { display: inline; list-style: none; margin: 0; padding: 0; }
#content div.attributes ul li { display: inline; margin: 0; padding: 0; }
#content div.attributes ul li a {
    background-color: #FBF9F9;
    border-bottom: 1px solid #CBCCCB;
    color: #999;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
#content div.attributes ul li a:hover { border-bottom: 1px solid #000; color: #000; }

#content h4.aliases_header { display: inline; }
#content ul#aliases { display: inline; font-size: 90%; list-style: none; margin: 0; padding: 0; }
#content ul#aliases li { display: inline; margin: 0; padding: 0; }
#content ul#aliases li a {
    background-color: #FBF9F9;
    border-bottom: 1px solid #CBCCCB;
    color: #999;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}
#content ul#aliases li a:hover { border-bottom: 1px solid #000; color: #000; }

/*
 * transactions table
 */ 
#content table.transactions {
    border: 1px solid #CBCCCB;
    border-collapse: collapse;
    font-size: 80%;
    width: 1300px;
}
#content table.transactions tr.odd { background-color: #FBF9F9; }
#content table.transactions tr th { background-color: #F2F1F0; border: 1px solid #CBCCCB; padding: 2px 0 2px 3px; }
#content table.transactions tr td { border: 1px solid #CBCCCB; padding: 2px 0 2px 3px; }

footer {
    background-color: #F2F1F0;
    border-top: 2px solid #CBCCCB;
    bottom: 0px;
    color: #8A8B8A;
    font-size: 0.9em;
    height: 80px;
    line-height: 1.4em;
    padding-top: 20px;
    position: fixed;
    width: 100%;
}

footer #footer_save {
    border-right: 1px solid #CBCCCB;
    float: left;
    margin-right: 20px;
    padding: 0 10px;
    width: 140px;
}
footer #footer_save p { margin: 0; padding: 0; }
footer #merge_name { width: 300px; }