<table class="transactions contributions">
	<tr>
		<th>Type</th>
		<th>Datestamp</th>
		<th>Amount</th>
		<th>Contributor</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Recipient</th>
		<th>Committee</th>
		<th>Organization</th>
		<th>Parent Organization</th>
	</tr>
	{% for contrib in contributions %}
    	<tr class="{% cycle "even" "odd" %}">
    		<td>{% ifequal contrib.transaction_namespace "urn:fec:transaction" %}Federal{% else %}State{% endifequal %}
    		</td>
    		<td>{{ contrib.datestamp|date:"M d, Y" }}</td>
    		<td>${{ contrib.amount }}</td>
    		<td>{{ contrib.contributor_name }}</td>
    		<td>{{ contrib.contributor_address }}</td>
    		<td>{{ contrib.contributor_city }}</td>
    		<td>{{ contrib.contributor_state }}</td>
    		<td>
    		    {% if contrib.recipient_entity %}
    		        <a href="{% url matchbox_entity contrib.recipient_entity %}">
    		            {{ contrib.recipient_name }}
    		        </a>
    		    {% else %}
    		        {{ contrib.recipient_name }}
    		    {% endif %}
    		</td>
    		<td>
    		    {% if contrib.committee_entity %}
        		    <a href="{% url matchbox_entity contrib.committee_entity %}">
        		        {{ contrib.committee_name }}
        		    </a>
    		    {% else %}
    		        {{ contrib.committee_name }}
    		    {% endif %}
    		</td>
    		<td>
    		    {% if contrib.organization_entity %}
        		    <a href="{% url matchbox_entity contrib.organization_entity %}">
        		        {{ contrib.organization_name }}
        		    </a>
    		    {% else %}
    		        {{ contrib.organization_name }}
    		    {% endif %}
    		</td>
    		<td>
    		    {% if contrib.parent_organization_entity %}
        		    <a href="{% url matchbox_entity contrib.parent_organization_entity %}">
        		        {{ contrib.parent_organization_name }}
        		    </a>
    		    {% else %}
    		        {{ contrib.parent_organization_name }}
    		    {% endif %}
    		</td>
    	</tr>
    {% endfor %}
</table>