{% extends "matchbox/merge/base.html" %}
{% load contribution_tags %}

{% block content %}

    <span id="entity_name_container">
        <h2>{{ entity.name }}</h2>
        <form action="{% url matchbox_entity entity.id %}" method='post'>
            <input type="text" name="name">
            <input type="submit" value="Save"> or <button>Cancel</button>
        </form>
    </span>
    <p class="entity_type">{{ entity.type }}</p>
    <div class="clear"></div>
    
    {% if entity.aliases %}
        <h4 class="aliases_header">Aliases:</h4>
        <ul id="aliases">
            {% for alias in entity.aliases.all %}
                <li><a href="http://google.com/search?q={{ alias|urlencode }}">{{ alias }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div class="clear"></div>
    
    {% if entity.attributes %}
    	{% regroup entity.attributes.all by namespace as namespace_list %}
    	{% for namespace in namespace_list %}
    	    <div class="attributes">
            {% ifequal namespace.grouper "urn:crp:candidate" %}
                <h4>CRP Candidate:</h4>
                <ul>
                    {% for attr in namespace.list %}
                        <li><a href="http://www.opensecrets.org/politicians/summary.php?cid={{ attr.value }}">{{ attr.value }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                {% ifequal namespace.grouper "urn:crp:committee" %}
                    <h4>CRP PAC:</h4>
                    <ul>
                        {% for attr in namespace.list %}
                            <li><a href="http://www.opensecrets.org/pacs/lookup2.php?strID={{ attr.value }}">{{ attr.value }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% ifequal namespace.grouper "urn:crp:organization" %}
                        <h4>CRP Organization:</h4>
                        <ul>
                            {% for attr in namespace.list %}
                                <li><a href="http://www.opensecrets.org/indivs/index.php?employ={{ attr.value }}">{{ attr.value }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>Other Attributes:</h4>
                        <ul>
                            {% for attr in namespace.list %}
                                <li>{{ attr.value }}</li>
                            {% endfor %}
                        </ul>
                    {% endifequal %}
                {% endifequal %}
            {% endifequal %}
            </div>
        {% endfor %}
    {% endif %}

	{% if transactions.Contribution %}
	<div id="transactions" class="clear">
    	<h3>Contributions</h3>
    	<p>{{ entity.contribution_count }} transactions for a total of ${{ entity.contribution_amount }}</p>
		<p>20 preview transactions are shown ordered by dollar amount</p>
		<div class="transactions_container">
            {% contribution_table transactions.Contribution %}
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block sidebar %}

    <a href="{{ td_url }}" target="_blank">{{ entity.name }} on TransparencyData.com</a>

    <h3>Modify Associations</h3>
    <ul>
        <li><a href="{% url matchbox_entity_associate entity.pk 'contribution' %}">Contributions</a></li>
    </ul>

{% endblock %}
